<form name="model" method="post">
	<?php
	foreach ( $this->model->get_attribute_fields( ) as $name ) {
		$attribute = $this->model->attribute( $name );
		if ( $attribute->type == 'Relation' ) {
		} else if ( $attribute->type == 'Text' ) {
		?>
			<label><?= $name ?> : <textarea name="model[<?= $name ?>]"><?= $attribute->value( ) ?></textarea></label><br><br>
		<?php
		} else {
		?>
			<label><?= $name ?> : <input type="text" name="model[<?= $name ?>]" value="<?= $attribute->value( ) ?>" /></label><br><br>
		<?php
		}
	}
	if ( $this->model->exists( ) ) {
	?>
		<input type="hidden" name="model[id]" value="<?= $this->model->id ?>" />
		<button type="submit">Update</button>
		<button onclick="location.href='<?= $action_url( 'delete', $this->model->id ) ?>'; return false;">Delete</button>
		<button onclick="location.href='<?= $action_url( 'view', $this->model->id ) ?>'; return false;">Cancel</button>
		<button onclick="location.href='<?= $action_url( 'archive', $this->model->id ) ?>'">Archives</button>
	<?php
	} else {
	?>
		<button type="submit">Create</button>
		<button onclick="location.href='<?= $action_url( 'all' ) ?>'; return false;">Cancel</button>
	<?php
	}
	?>
</form>

