<?php

foreach ( $this->model->get_attribute_fields( ) as $name ) {
	$attribute = $this->model->attribute( $name );
	if ( $attribute->type == 'Relation' ) {
	?>
		<b><?= $name ?></b> :
	<?php
		foreach ( $attribute->get( ) as $related ) {
		?> 
			<a href="/<?= $related->type ?>/view/<?= $related->id ?>"><?= $related->id ?></a>
		<?php
		}
	?>
		<br>
	<?php
	} else if ( $attribute->type == 'Text' ) {
	?>
		<b><?= $name ?></b> : <br><?= $attribute->get( ) ?> <br><br>
	<?php
	} else {
	?>
		<b><?= $name ?></b> : <?= $attribute->get( ) ?> <br><br>
	<?php
	}
}
?>
<button onclick="location.href='<?= $action_url( 'edit', $this->model->id ) ?>'">Edit</button>
<button onclick="location.href='<?= $action_url( 'all' ) ?>'">List</button>
<button onclick="location.href='<?= $action_url( 'create' ) ?>'">Create</button>
<button onclick="location.href='<?= $action_url( 'archive', $this->model->id ) ?>'">Archives</button>

