{% for related in attribute.get() %}
{% if related.exists() %}
<a href="{{ route( 'Model', 'preview', attribute.getRemoteModelType(), related.id )  }}">
    {{ related.name() }}
</a> -
{% endif %}
{% endfor %}
