{% extends "layout/base.html" %}

{% block stylesheets %}
  <link rel="stylesheet" href="/twbootstrap/bootstrap.css">
  <link rel="stylesheet" href="/dataTables/DT_bootstrap.css">
  <link rel="stylesheet" href="/chosen/chosen.css">
  <link rel="stylesheet" href="/bootstrap.css">
  <link rel="stylesheet" href="/twbootstrap/bootstrap-responsive.css">
{% endblock %}

{% block body %}
  {% block navbar %}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Admin</a>
          <div class="nav-collapse">
            <ul class="nav">
              {% for controller in controllers %}
                <li><a href="{{ route( controller.name, controller.action ) }}">{{ controller.label }}</a></li>
              {% enfor %}
            </ul>

            <ul class="nav pull-right">
              <li><a href="{{ '/logout'|public }}">Disconnect</a></li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  {% endblock %}

  <div class="container">
    {% block content %}
    {% endblock %}
{% endblock %}

{% block scripts %}
  <script src="/twbootstrap/jquery.js"></script>
  <script src="/twbootstrap/bootstrap-dropdown.js"></script>
    <script src="/twbootstrap/bootstrap-transition.js"></script>
    <script src="/twbootstrap/bootstrap-collapse.js"></script>
  <script src="/chosen/chosen.jquery.min.js"></script>
  <script>
    $(".attribute select").chosen();
  </script>
{% endblock %}