{% extends "layout/index.html" %}

{% block content %}
<h1>{{ currentModelType }} {{ model.id }}</h1>

	<form method="post">

		{% for name, value in model %}
			<p class="attribute">
				<b>{{ name }}</b> : <input type="text" name="model[{{ name }}]" value="{{ model[name] }}" />
			</p>
		{% endfor %}

		<button class="btn btn-primary" type="submit"><i class="icon-ok"></i> Validate</button>
		<a class="btn" href="{{ route( 'Model', 'view', currentModelType, model.id ) }}"><i class="icon-arrow-left"></i> Cancel</a>
	</form>
{% endblock %}