{% extends "layout/index.html" %}

{% block content %}
	<h1>{{ currentModelType }} list</h1>
	{% if models|length == 0 %}
		<p><em>There is no elements to display</em></p>
	{% else %}
		<table class="table table-bordered table-striped table-data">
			<thead>
				<tr>
					<th>Id</th>
				</tr>
			</thead>
			<tbody>
				{% for model in models %}
					<tr>
						<td>
							<a href="{{ route( 'Model\\' ~ currentModelType, 'view', model.id )  }}">
								{{ model.id }}
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
{% endblock %}