{% extends "layout/index.html" %}

{% block content %}
	<h1>Inscription</h1>
	<form method="post" action="{{ route( 'Auth', 'inscription' ) }}">
		{% if currentUser %}
			<div class="notice">
				You are logged !
			</div>
		{% else %}
			{% if badCredentials %}
				<div class="error">
					Bad credentials
				</div>
			{% endif %}
			{% if badCode %}
				<div class="error">
					Code beta invalid
				</div>
			{% endif %}
			<label>Login: <input type="text" name="inscription[login]" value="{{ login }}" /></label>
			<label>Password: <input type="password" name="inscription[password]" /></label>
			<label>Code Beta: <input type="text" name="inscription[code]" value="{{ code }}" /></label>
			<input type="hidden" name="redirect" value="{{ redirect }}" />
			<button type="submit">Inscription</button>
		{% endif %}
	</form>
{% endblock %}