{% extends "layout/index.html" %}

{% block content %}
	<h1>Login</h1>
	<form method="post" action="{{ route( 'Auth', 'login' ) }}">
		{% if current_user %}
			<div class="notice">
				You are logged !
			</div>
		{% else %}
			{% if bad_credentials %}
				<div class="error">
					Bad credentials
				</div>
			{% endif %}
			<label>Login: <input type="text" name="login[login]" value="{{ login }}" /></label>
			<label>Password: <input type="password" name="login[password]" /></label>
			<input type="hidden" name="redirect" value="{{ redirect }}" />
			<button type="submit">Login</button>
		{% endif %}
	</form>
{% endblock %}