<form class="form" method="post" action="">
	<div>
		<label for="login">Login:</label>
		<input type="text" id="login" name="login" />
	</div>
	<div>
		<label for="login">Email:</label>
		<input type="text" id="email" name="email" />
	</div>
	<div>
		<label for="password">Password:</label>
		<input type="password" id="password" name="password" />
	</div>
	<div>
		<label for="name">Name:</label>
		<input type="text" id="name" name="name" />
	</div>
	<div>
		<label for="lastname">Last Name:</label>
		<input type="text" id="lastname" name="lastname" />
	</div>
	<input type="submit" value="Submit" />
</form>
