<?php
$archive = $this->archive;
$attributes = $archive->model_attributes;
if ( $archive == $archive->last_version( $archive->model_id, $archive->model_type ) ) {
	?><h4>Last model</h4><?php
	if ( ! $archive->current_version( $archive->model_id, $archive->model_type ) ) {
		?>Warning: has been deleted (no current version)<br/><?php
	}
} else {
	?><br/><?php
}
?>
Modification date : <?= date_format( \DateTime::createFromFormat( 'Y-m-d G:i:s', $archive->date_version ), 'd/m/Y' ); ?><br/>
Modification hour : <?= date_format( \DateTime::createFromFormat( 'Y-m-d G:i:s', $archive->date_version ), 'G:i' ); ?><br/>
Changed by the IP : <?= $archive->ip_version ?><br/>
Version of the model : <?= $archive->model_type_version ?><br/>
Version of the attributes : <?= $archive->model_attributes_version ?><br/>
Values of the attributes : <br/>
<ul><?php
foreach ( $attributes as $key => $value ) {
	?><li><?= $key ?> = <?= $value ?></li><?php
}
?></ul>
<br/>
<button onclick="location.href='<?= $this->action_url[ 'archive' ] ?>'">List</button>
<?php if ( $this->current ) {
?>
	<button onclick="location.href='<?= $this->action_url[ 'edit' ] ?>'">Edit</button>
	<button onclick="location.href='<?= $this->action_url[ 'view' ] ?>'">View</button>
<?php
} else {
?>
	<button onclick="location.href='<?= $this->action_url[ 'restore' ] ?>'">Restore</button>
	<button onclick="location.href='<?= $this->action_url[ 'erase' ] ?>'">Erase</button>
<?php
}
?>
